/mcp918/build/
/mcp918/dist/
/mcp918/jars/logs/
/mcp918/jars/saves/
/mcp918/jars/assets/
/mcp918/logs/
/mcp918/jars/usercache.json
/mcp918/usercache.json
/mcp918/nbproject/private/private.properties
/mcp918/bin/
