/mcp918/build/
/mcp918/dist/
/mcp918/jars/logs/
/mcp918/jars/saves/
/mcp918/jars/assets/
/mcp918/logs/
/mcp918/jars/usercache.json
/mcp918/usercache.json
/mcp918/nbproject/private/private.properties
/mcp918/bin/
mcp918/temp/*
*.pyc
/mcp918/jars/options.txt
mcp918/nbproject/private/private.xml
/mcp918/jars/crash-reports/
/proguarded/
/mcp918/.idea/*
/mcp918/MineBotClient/build/
/mcp918/MineBotClient/nbproject/private/
/mcp918/saves/
/mcp918/saves/*
